// COLORS
$color-warm-grey: #8e8e8e;
$color-gunmetal: #555d60;
$color-bluish-grey: #789199;
$color-fresh-green: #7bdb4c;
$color-salmon: #ff7676;
$color-salmon-strong: #ff5454;
$color-white: #ffffff;
$color-black: #000000;

// FONT
$font-weigth-black: 900;
$font-weight-light: 300;

// BREAKPOINTS
$breakpoint-xxs: 320px;
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
//SIZES
$navigation-height: 8rem;