@import "constants";
@import "../../node_modules/normalize.css/normalize.css";

html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Lato', sans-serif;
}

input,
textarea {
  font-family: 'Lato', sans-serif;
}

body {
  font-size: 1.6em;
  margin: 0;
}

h1 {
  margin: 0 0 2rem;
  line-height: 1.5;

  @media screen and (max-width: $breakpoint-sm){
    font-size: 2rem;
  }
}

h2 {
  margin: 0;
  font-size: 3.3rem;
  font-weight: $font-weigth-black;

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 2rem;
  }
}

p {
  font-weight: $font-weight-light;
  font-size: 2.4rem;
  line-height: 1.38;

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 1.5rem;
  }
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.modal--open {
  overflow: hidden;
}

.row {
  padding: 9rem 4rem;
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;

  @media screen and (max-width: $breakpoint-sm){
    padding: 5rem 2rem;
  }
}

.row--full {
  @media screen and (max-width: $breakpoint-sm){
    padding: 5rem 0;
  }
}

.link {
  &:hover {
    color: $color-salmon;
  }
}

.headline--grey {
  color: $color-bluish-grey;
}

.button {
  height: 4rem;
  width: 15rem;
  border-radius: 4rem;
  border: none;
  background-color: $color-black;
  color: $color-white;
  cursor: pointer;
  font-size: 1.5rem;

  &:hover {
    background-color: $color-salmon-strong;
  }
}

.button--salmon {
  background-color: $color-salmon-strong;

  &:hover {
    background-color: $color-salmon;
  }
}

.button--link {
  text-align: center;
  padding: 1rem 0;
}