@import "../styles/constants";

.contact {
  background-size: cover;
  background: url("../images/Feed_bg.jpg") no-repeat center;
  min-height: 90vh;
  color: $color-white;
}

.contact__title {
  max-width: 36rem;
  margin: 0 auto 4rem;

  @media screen and (max-width: $breakpoint-sm){
    padding: 0 2rem;
  }
}

.form {
  max-width: 62rem;
  margin: 0 auto;

  input,
  textarea {
    font-size: 1.8rem;
    color: $color-black;
    font-weight: $font-weight-light;
    padding: 1.5rem 2rem;
    border: none;

    &:hover {
      cursor: default;

      &::placeholder {
        color: $color-black;
      }
    }

    &::placeholder {
      color: $color-warm-grey;
    }
  }

  input {
    height: 5rem;
    width: 29.5rem;

    &.success {
      background: $color-white url("../images/check-icon-green.svg") no-repeat 95%;
    }

    @media screen and (max-width: $breakpoint-sm){
      width: 100%;
    }
  }

  textarea {
    height: 12rem;
    width: 100%;

    &.success {
      background: $color-white url("../images/check-icon-green.svg") no-repeat 97% 2rem;
    }
  }

  .button {
    margin-top: 4rem;
  }
}

.form__fields {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
}

.form__control {
  display: inline-block;
  vertical-align: top;
  margin: 0.5rem;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: $breakpoint-sm){
    display: block;
    margin: 0 0 1rem;
  }
}

.form__control--large {
  width: 100%;
  margin-top: 2rem;
}

.message {
  background-color: rgba(0,0,0, 0.2);
  color: $color-white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.8rem;
  padding: 2rem 2rem 2rem 6rem;
  max-width: 62rem;
  margin: 0 auto;
  position: relative;

  &:before {
    content: '';
    width: 3rem;
    height: 3rem;
    background: rgba(0, 0, 0, 0.2) url("../images/error.svg") no-repeat center;
    border-radius: 50%;
    margin-right: 1rem;
    position: absolute;
    left: 2rem;
    top: calc(50% - 1.5rem);
  }
}

.message--success {
  &:before {
    background-image: url("../images/check-icon.svg");
    background-size: 2rem;
  }
}

.error__field {
  background-color: $color-gunmetal;
  height: 4rem;
  padding: 1rem 2rem;
  position: relative;
  margin-top: -3px;
  font-size: 1.5rem;
  text-align: left;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $color-gunmetal;
    position: absolute;
    top: -10px;
    left: 2rem;
  }
}
