@import "../styles/main";
@import "../styles/constants";

.carousel {
  position: relative;
}

.carousel__slide {
  height: calc(100vh - #{$navigation-height});
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel__slide__title {
  font-size: 5rem;
  margin-bottom: 5rem;
}

.carousel__buttons {
  display: flex;
}

.carousel__button {
  width: 4rem;
  height: 4rem;
  background-color: $color-black;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $color-salmon-strong;
  }

  img{
    margin-top: 1.5rem;
  }
}

.carousel__button--long {
  margin: 0 2rem;
}

.carousel__down {
  width: 5.4rem;
  height: 5.4rem;
  background: $color-white url("../images/mouse.svg") no-repeat center;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  position: absolute;
  bottom: 3rem;

  &:hover {
    background-image: url('../images/mouse-red.svg');
  }

  &::after {
    content: "";
    height: 0.8rem;
    display: block;
    background: url("../images/arrow-down.svg") no-repeat center;
    position: absolute;
    bottom: -2rem;
    width: 100%;

  }

  @media screen and (max-width: $breakpoint-md) {
    background-image: url("../images/arrow-down-touch.svg");

    &::after {
      display: none;
    }

    &:hover {
      background-image: url("../images/arrow-down-touch-red.svg");
    }
  }
}

.feed {
  background: url("../images/Feed_bg.jpg") no-repeat center;
  background-size: cover;
}

.feed__subtitle {
  color: $color-white;
  font-weight: $font-weight-light;
  font-size: 3.3rem;

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 2rem;
  }
}

.feed__items {
  column-count: 3;
  margin-top: 4rem;

  @media screen and (max-width: $breakpoint-md) {
    column-count: 2;
  }

  @media screen and (max-width: $breakpoint-sm){
    column-count: 1;
  }
}

.feed__item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2rem;

  img {
    width: 100%;
  }
}

.feed__item__capture {
  background-color: $color-white;
  padding: 1.5rem;
  margin-top: -3px;
  color: $color-warm-grey;
  line-height: 1.38;
  font-size: 1.5rem;
}