@import '../styles/constants';

.navigation {
  display: flex;
  min-height: $navigation-height;
  background-color: $color-black;
  align-items: center;
  padding: 0 3rem;

  a {
    cursor: pointer;
  }
}

.navigation--desktop {
  @media screen and (max-width: $breakpoint-sm) {
    display: none;
  }
}

.navigation--mobile {
  @media screen and (min-width: $breakpoint-sm) {
    display: none;
  }
}

.navigation__icon {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  background: url("../images/menu.svg") no-repeat center;

  &:hover {
    background-image: url("../images/menu-red.svg");
  }

  .open & {
    background-image: url("../images/close.svg");

    &:hover {
      background-image: url("../images/close-red.svg");
    }
  }
}

.navigation__items {
  display: flex;
}

.navigation__items--centered {
  display: block;
  flex-grow: 1;
  text-align: center;
}

.navigation__item {
  margin-right: 4rem;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: $font-weigth-black;

  a {
    color: $color-warm-grey;

    @media screen and (max-width: $breakpoint-md){
      color: $color-white;
    }

    &:hover {
      color: $color-salmon-strong;
    }

    &.active {
      color: $color-white;

      @media screen and (max-width: $breakpoint-md) {
        color: $color-salmon;
      }
    }
  }
}

.navigation__menu {
  position: fixed;
  left: 0;
  right: 0;
  top: $navigation-height;
  bottom: 0;
  background-color: $color-black;
  border-top: 1px solid $color-white;
  z-index: 9999;
  display: none;

  .open & {
    display: block;
  }
}

.navigation__menu__items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
}

.navigation__menu__item {
  font-size: 3.7rem;
  margin-bottom: 5rem;
}