@import "../styles/constants";

.footer {
  background-color: $color-black;
  height: 10rem;
  padding: 4rem;
  text-align: center;
}

.footer__icon {
  width: 2.4rem;
  height: 2rem;
  display: inline-block;
  background: no-repeat center;
  margin: 0 2rem;

  &.facebook {
    background-image: url('../images/facebook.svg');

    &:hover {
      background-image: url("../images/facebook-red.svg");
    }
  }

  &.twitter {
    background-image: url('../images/twitter.svg');

    &:hover {
      background-image: url('../images/twitter-red.svg');
    }
  }

  &.instagram {
    background-image: url('../images/instagram.svg');

    &:hover {
      background-image: url('../images/instagram-red.svg');
    }
  }
}